<!DOCTYPE html>

<title>Delete Films</title>

{% block body %}
    <h1>enter pwd</h1>

    
{{ form_start(form) }}
    <button class="btn">{{ button_label|default('delete') }}</button>
{{ form_end(form) }}
    <a href="{{ path('films_index') }}">back to list</a>

    
{% endblock %}
